CompileFlags:
  Add:
    - -I/home/segfault/AsterOS/include
    - -I/home/segfault/AsterOS/flanterm/src
    - -ffreestanding
    - -fno-builtin
    - -fno-stack-protector
    - -fno-pic
    - -fno-pie
    - -mno-red-zone
    - -mgeneral-regs-only
    - -Wall
    - -Wextra
